@using Kendo.Mvc.UI
@{ Layout = "~/Views/Shared/_Layout.cshtml";

    @Scripts.Render("~/bundles/kendo") }

<br />

<h2 style="margin-top: 65px; margin-bottom: 3px; MARGIN-LEFT: -49px;font-weight:bold ">Common Lookup</h2>

<div class="container">
    <div class="row">

        @(Html.Kendo().Grid<TMS.Model.CommonLookupModel>()
             .Name("EmpGrid")
            .Scrollable(s => s.Height("auto"))
            //.AutoBind()

            .Columns(columns =>
            {
                columns.Bound(p => p.Id).Title("Id").Width(150);

                columns.Bound(p => p.Name).Title("Name").Width(150);
                columns.Bound(p => p.Code).Title("Code").Width(150);
                columns.Bound(p => p.Type).Title("Type").Width(150);

                columns.Bound(p => p.IsActive).Title("Is Active").Width(120);

                columns.Command(command => { command.Edit(); command.Destroy(); }).Width(150).Title("Action");


            }).ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.PopUp).Window(w => w.Title("Common Lookup")))
    .Pageable(pageable => pageable
         .Refresh(true)
         .PageSizes(new int[] { 10, 20, 50 })
         .PreviousNext(true)
     )
    .Sortable()
    .Scrollable()
    .Filterable(filter => filter
                        .Mode(GridFilterMode.Row)
                        .Extra(false)

                    )
    .HtmlAttributes(new { style = "" })

    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
         .Events(events => events.Error("error_handler"))
        .Model(model => model.Id(p => p.Id))
        .Create(update => update.Action("EditingPopup_Create", "CommonLookup"))
        .Read(read => read.Action("GetGridData", "CommonLookup"))
        .Update(update => update.Action("EditingPopup_Update", "CommonLookup"))
        .Destroy(update => update.Action("EditingPopup_Destroy", "CommonLookup"))




          )
          )
    </div>

</div>
<style>
    .k-grid {
        /* set the desired height */
        width: 110%;
        margin: -1px -53px;
    }
</style>
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>
