@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body {
}

.navLinkMargin {
    margin: 0px 10px;
}



.user_img {
    width: 30px !important;
    height: 30px !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;


    display: inline-block;
    vertical-align: middle;
    background: #feff00;
    color: #a81c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}

html body {
    font-size: 14px;
    background: white;
}

.section {
    padding: 40px 0;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px
}

.dropdown-right .dropdown-menu {
    left: auto;
    right: 0;
    margin-top: 6px;
}

/* Table */
.table > :not(:first-child) {
    border-top: 2px solid #dee2e6;
}

.table-sm > :not(caption) > * > * {
    padding: 12px 1px;
}

.action-icons a {
    margin: 0 6px;
}

.grid-image {
    width: 60px;
    height: 60px;
}

    .grid-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


/* header */
.header {
    background: #ffffff;
    position: sticky;
    top: 0px;
    z-index: 10;
    box-shadow: 0 0 50px black;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(92 95 112) !important;
}

.logo a {
    display: block;
}

    .logo a img {
        display: block;
        width: 80px;
    }

.header .dropdown .dropdown-img {
    background: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
}

.user_box h6 {
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    margin: 0 10px 0 25px;
    color: rgb(92 95 112);
}

.header .dropdown .dropdown-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.header .dropdown-toggle::after {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
    content: "";
    border-top: .3em solid #fff;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

/*Login*/
.login-section {
    background-color: black;
    min-height: 100vh;
    padding: 30px;
}

.login-from {
    margin: 50px auto;
    max-width: 450px;
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.label-title {
    display: block;
    margin-bottom: 5px;
}

.forgotPassword {
    font-size: 13px;
    text-decoration: none;
}

.text-right {
    text-align: right;
    margin-top: 0px;
}

.btn-primary btn-md {
    width: 145px;
    margin-top: -28px;
}




/*PRODUCT HISTORY INDEX */
.ProductHistoryBG {
    background-color: #F3F1F5;
}
/*LOGIN PARTIAL*/
textarea.form-control {
    height: 75px;
    width: 838px;
}

.fa-check:before {
    color: green;
}

.fa-star:before {
    color: red;
}

strong {
    color: red;
    font-size: 15px;
}

.user_img {
    width: 30px !important;
    height: 30px !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    background: #8d8741;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}

#chart_container {
    width: 400px;
    height: 400px;
    /*border: 1px solid #ddd;*/
    padding: 10px;
    border-radius: 4px;
}

le >
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.chartMenu {
    width: 100vw;
    height: 40px;
    background: #1A1A1A;
    color: rgba(255, 26, 104, 1);
}

    .chartMenu p {
        padding: 10px;
        font-size: 20px;
    }

.chartBox {
    max-width: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    width: 1100px;
}



#myChart {
    width: 958px !important;
    height: 435px !important;
    max-height: 2000px;
    display: block;
    padding: 28px;
    margin: auto;
    margin-left: auto;
}
/*--------------Ticket--------------------*/

/*
#myChart {
width: 958px !important;
height: 435px !important;
max-height: 2000px;
display: block;
padding: 28px;
margin: -11px;
padding-left: 159px;
padding-right: 13px;
margin-left: 48px;
}*/
.mb-0 {
    margin-top: 20px;
}

.accessDenied {
    display: block;
    margin: 25px auto 0;
    max-width: 400px;
    padding: 15px 20px;
    background: #fff;
    border: 2px solid #db0000;
    color: #db0000;
    text-align: center;
    font-size: 25px;
    border-radius: 15px;
}

#test {
    color: black;
    text-decoration: none;
}

.col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
    margin-top: -11px;
}

.table {
    margin-left: -13px;
}

}

.h5, h5 {
    font-size: 1.25rem;
    color: white !important;
}

table {
    border-collapse: collapse
}

    table td tr {
        padding: 5px;
    }

.btn-primary {
    margin-top: 52px;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

h3 {
    font-size: 1.75rem;
    padding-top: 38px;
}

#btnlogin {
    margin-top: 2px;
}

#Status, #EditStatus, #AddCoomanlookup, #EditCoomanlookup, #AddDepartment, #editDepartment, #btnforms, #btnemployee, #btnsave, #btninward, #mysubmit, #btnform {
    margin-top: 0px;
}

.fa-rupee:before, .fa-inr:before {
    content: "\f156";
    padding: 3px;
}

.graph-cursor {
    cursor: pointer;
}

.login-section {
    background-color: white;
    min-height: 100vh;
    padding: 30px;
}


.status {
    display: inline-block;
    padding: 6px 10px;
    font-size: 14px;
    color: #fff;
    background: #213146;
    border-radius: 10px;
    line-height: 1;
}

.statustext {
    display: inline-block;
    padding: 6px 8px;
    font-size: 14px;
    color: black;
    line-height: 1;
    font-weight: bold;
    background: #ffffff;
    border-radius: 10px;
}

.Created {
    color: #43d800;
}

.Approved {
    color: #039487;
}

.Rejected {
    color: red
}

.Pending {
    color: #ddad00
}

.Assigned {
    color: #0052CC
}

.In-Progress {
    color: #00b425;
}

.Closed {
    color: red
}

.Returned {
    color: orangered
}

.New {
    color: lawngreen
}

.Resolved {
    color: green
}


.Low {
    background: #c1ff9a;
    color: seagreen;
    font-weight: bold;
}

.High {
    background: #ffacac;
    color: red;
    font-weight: bold;
}

.Medium {
    background: #f6ff90;
    color: #ddad00;
    font-weight: bold;
}

.Immediate {
    background: #96c0ff;
    color: #05168e;
    font-weight: bold;
}

.ticket {
    display: inline-block;
    padding: 6px 10px;
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.image {
    display: inline-block;
    padding: 6px 10px;
    background: #d0e4ff;
    border-radius: 10px;
    line-height: 1;
}

.ticketall {
    background: #f5f5f7;
   
    font-weight: bold;
    font-size: 15px;
    color: black;
    font-style: unset;
}

.tickethead {
    background: #b1b1b133;
    
    font-weight: bold;
    font-size: 15px;
    color: black;
    font-style: unset;
}

.table {
    width: 126%;
    max-width: 152%;
    margin-bottom: 20px;
    //box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    //box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.table {
    margin-left: -168px;
}

.btn-primary {
    margin-top: -20px;
}

.tablewidth {
    width: 235px;
    /* word-break: break-all;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tablewidthsmall{
    width: 135px;
    /* word-break: break-all;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tableovertext {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.details {
    text-align: center;
    display: inline-block;
    padding: 10px 8px;
    font-size: 14px;
    color: #032a5a;
    background: #a9cfff;
    /*border-radius: 10px;*/
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
}

.details-data {
    margin-left: 250px;
    text-align: center;
    display: inline-block;
    padding: 10px 8px;
    font-size: 14px;
    color: #032a5a;
    background: #a9cfff;
    /* border-radius: 10px;*/
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
}
.tablecomment {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-left: 0px;
}

.formbutton{
    margin-top: -22px;
    margin-left: -154px;
}
.h4form {
    margin-top: 24px;
    margin-bottom: -35px;
    margin-left: -168px;
}

.tablemapping {
    margin-left: -166px;
    width: 128%;
    max-width: 133%;
    margin-bottom: 20px;
}
.navbar-inversetms {
    background-color: rgb(53 53 53);
    
    border-color: rgb(53 53 53);
}
.navbar.scrolled {
    background-color: rgb(35 35 35);
}

.primaryCreateNew {
    margin-left: 1019px;

    background: #0268ff;
    color: white;
    border-color: #0268ff;
    border-radius: 10px;
    margin-top: -2px;
}
.primaryallticket {
    margin-left: 924px;
    background: #353535;
    color: white;
    border-color: #353535;
    border-radius: 10px;
    margin-top: -56px;
}
.changeColor{
    color:#0052CC
}


.labelform{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 3px;
    margin-top: 25px;
    font-weight: 700;
}
* {
    font-family: 'Lexend Deca', sans-serif;
    font-size:14px;
    color:#1b1b1b
   /*//font-family: 'Segoe UI'*/
     
}
#Ticket tbody tr:hover {
    background: #e9e9e9;
    color: #1c1c1c;
    font-weight: bolder;
    cursor: pointer;
}
#EmpGrid tbody tr:hover {
    background: #e9e9e9;
    color: #1c1c1c;
    font-weight: bolder;
    
}
* tbody tr {
    background: #f5f5f7;
}

.form-group{

    width :1000px;
}

/*.validationMessage {
    position: relative;
    font-weight:12px;
    color:red;
}

    .validationMessage .field-validation-error {
        position: absolute;
        color:red;
        top: 100%;
       
    }*/

.check-box{
    margin-top:9px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: -30px;
}

.content_wrapper {
    padding: 30px;
    display: block;
    margin: 0 auto;
    max-width: 1060px;
    width: 1060px;
}
.white_box {
    display: block;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius:10px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: visible;
}


.userInfoDiv { position: absolute; right: 0; top: 40px; background: #fff; width: 100%; padding: 12px 15px; border-radius: 4px; box-shadow: 0 0 11px 1px rgb(16 2 24 / 21%); display:none; }
.userName:hover .userInfoDiv { display:block;}

/***********|| Prefix Class Name ||*************/
.justify-content-right, .justify-content-center, .justify-content-left, .align-center, .align-bottom,
.align-left,
.align-right,
.align-top,
.align-between,
.justify-space-between {
    display: flex !important;
}

.align-right, .justify-content-right {
    justify-content: flex-end !important;
}

.align-justify-center, .justify-content-center {
    justify-content: center !important;
}

.align-left, .justify-content-left {
    justify-content: flex-start !important;
}

.align-between, .justify-space-between {
    justify-content: space-between !important;
}

.align-center {
    align-items: center !important;
}

.align-bottom {
    align-items: flex-end !important;
}

.align-top {
    align-items: flex-start !important;
}

.direction-column {
    flex-direction: column;
}
/***********|| END Prefix Class Name ||*************/



/************** Header **************/


           .menuDiv ul li a {
                margin: 0;
                padding: 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 1;
                color: #FFFFFF;
                display: block;
            }

            .menuDiv ul li:hover a, .menuDiv ul li.active a {
                color: #a9cfff;
            }

.userInfo {
    margin: 0;
    padding: 0;
    position: relative;
}

.userName {
    cursor: pointer;
    padding: 0px;
}


    .userName span {
        color: #fff;
        padding: 0 6px 0 10px;
        display: block;
        font-size: 16px;
        line-height: 1;
        font-weight: 400;
    }

.userInfoDiv {
    position: absolute;
    right: 0;
    top: 40px;
    background: #fff;
    width: 200px;
    padding: 12px 15px;
    border-radius: 4px;
    box-shadow: 0 0 11px 1px rgb(16 2 24 / 21%);
    opacity: 0;
   
}
   .userInfo:hover .userName:hover + .userInfoDiv,
.userInfoDiv:hover {
    opacity: 1;
    pointer-events: auto;
}

    .userInfoDiv a {
        display: block;
        color: #11142C;
        font-size: 16px;
        font-weight: 400;
        padding: 3px 0;
    }

        .userInfoDiv a:checked {
            color: #26cd00;
            font-weight:bolder;
        }

    .userInfoDiv:after {
        height: 16px;
        width: 16px;
        background: #ffffff;
        position: absolute;
        content: "";
        top: -7px;
        right: 12px;
        transform: rotate(45deg);
        border-radius: 3px;
    }

    .userInfoDiv:before {
        content: "";
        height: 30px;
        width: 70%;
        background: transparent;
        position: absolute;
        top: -30px;
        right: 0;
    }

.userName:hover .userInfoDiv {
    opacity: 2;
}



.white_boxdashboard {
    display: block;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: visible;
    width  :1133px;
}
/************** END Header **************/
.white_box_home {
    display: block;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: visible;
    width: 250px;
    height: 130px;
    cursor: pointer;
}
.first_1_box {
    background: rgb(255 116 77 / 0.75);
}
.first_2_box {
    background: rgb(146 201 27 / 0.75);
}
.first_3_box {
    background: rgb(255 194 34 / 0.75);
}
.first_4_box {
    background: rgba(67, 196, 255, 0.75);
}

.ds_label {
    color:  #FFF;
    font-weight: bolder;
    font-size: 22px;
}
.ds_count1 {
    font-size: 54px;
    color: #db0000;
    font-weight: bold;
    font-family: 'Century Gothic';
}
.ds_count2 {
    font-size: 54px;
    color: #3C5700;
    font-weight: bold;
    font-family: 'Century Gothic';
}
.ds_count3 {
    font-size: 54px;
    color: #906800;
    font-family: 'Century Gothic';
    font-weight: bold;
}
.ds_count4 {
    font-size: 54px;
    color: #003F5CBF;
    font-family:'Century Gothic';
    font-weight: bold;
}
.k-filtercell > span {
    padding-right: 0;
}
.k-filter-row .k-dropdown-operator {
    right: 0 !important;
}
.dropdownpriority {
    margin-top: -97px;
    margin-left: 917px;
}
.white_graph {
    display: block;
    background: rgb(255 255 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    overflow: visible;
    width: 559px;
    height: 480px;
    margin-left: 13px;
}
.loginpage {
    margin: 0 auto;
    max-width: 400px;
    border-radius: 40px;
    background-color: white;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
textarea.form-control {
    width: 100%;
}
.text-danger {
    color: red;
    font-size: 12px;
    text-align: left;
   
}
.validationMessage .field-validation-error {
    position: absolute;
    top: 100%;
   
}
.text-danger field-validation-error {
    color: red;
    font-size: 12px;
}