@using Kendo.Mvc.UI
@{ Layout = "~/Views/Shared/_Layout.cshtml";

    @Scripts.Render("~/bundles/kendo") }

<br />

<h2 style="margin-top: 65px; margin-bottom: 3px; MARGIN-LEFT: -2px;font-weight:bold " ">Roles</h2>
<div class="container">
    <div class="row">

        @(Html.Kendo().Grid<TMS.Model.RolesModel>()
             .Name("EmpGrid")
            .Scrollable(s => s.Height("auto"))
            //.AutoBind()

            .Columns(columns =>
            {
                columns.Bound(p => p.Id).Title("Id").Width(150);

                columns.Bound(p => p.Name).Title("Name").Width(150);
                columns.Bound(p => p.RoleCode).Title("Role Code").Width(150);

                columns.Bound(p => p.IsActive).Title("Is Active").Width(120);


                columns.Bound(p => p.Id).ClientTemplate(
                              "<a href='" + Url.Action("ViewPermission", "FormRoleMapping") + "/#=Id#'>  Permission  </a>").Width(100).Title("Action");


            }).HtmlAttributes(new { style = "" })
    .Scrollable()
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        )
    .Sortable()
    .Filterable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .Read(read => read.Action("GetGridData", "Roles"))



          )
          )
    </div>

</div>

<script>
    //$(document).ready(function () {
    //    $('#EmpGrid').data('kendoGrid').dataSource.read();
    //    $('#EmpGrid').data('kendoGrid').refresh();

    //});
</script>