@using Kendo.Mvc.UI
@{ Layout = "~/Views/Shared/_Layout.cshtml";

    @Scripts.Render("~/bundles/kendo") }


<div class="container-fluid">


    <h2 style="margin-top: 80px; margin-bottom: 20px;MARGIN-LEFT: 5px; font-weight: bold ">Roles</h2>

    <div class="row; white_box">

        @(Html.Kendo().Grid<TMS.Model.RolesModel>()
             .Name("EmpGrid")
            .Scrollable(s => s.Height("auto"))
            //.AutoBind()

            .Columns(columns =>
            {


                columns.Bound(p => p.Name).Title("Name").Width(150);
                columns.Bound(p => p.RoleCode).Title("Role Code").Width(150);

                columns.Bound(p => p.IsActive)
                    .Title("Active")
                    .Width(120)
                    .ClientTemplate(
    "# if (IsActive) { #" +
        "<div class=\"img-circle\" style=\"display: flex; justify-content: center; align-items: center;\"><img src=\"/Content/images/check.png\" alt=\"editok\" width=\"18\"></div>" +
    "# } else { #" +
        "<div class=\"\" style=\"display: flex; justify-content: center; align-items: center;\"><img src=\"/Content/images/uncheck.png\" alt=\"edit\" width=\"18\"></div>" +
    "# } #"
);


                columns.Bound(p => p.Id).ClientTemplate(
                              "<a href='" + Url.Action("ViewPermission", "FormRoleMapping") + "/#=Id#'>  Permission  </a>").Width(100).Title("Action");


            }).HtmlAttributes(new { style = "" })
    .Scrollable()
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        )
    .Sortable()
 
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .Read(read => read.Action("GetGridData", "Roles"))



          )
          )
    </div>

</div>

<script>
    //$(document).ready(function () {
    //    $('#EmpGrid').data('kendoGrid').dataSource.read();
    //    $('#EmpGrid').data('kendoGrid').refresh();

    //});
</script>