@using Kendo.Mvc.UI
@{ Layout = "~/Views/Shared/_Layout.cshtml";

    @Scripts.Render("~/bundles/kendo") }

<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">

        @(Html.Kendo().Grid<TMS.Model.TicketModel>()
             .Name("EmpGrid")
            .Scrollable(s => s.Height("auto"))
            //.AutoBind()
            .Columns(columns =>
            {
                columns.Bound(p => p.AssignedToName).Title("AssignedTo");

                columns.Bound(p => p.TicketName).Title("TicketName");
                columns.Bound(p => p.DescriptionData).Title("DescriptionData");
                columns.Bound(p => p.TypeName).Title("TypeName");
                columns.Bound(p => p.PriorityName).Title("Priority");
                columns.Bound(p => p.StatusName).Title("Status");
                columns.Bound(p => p.CreatedOn).Title("Created On");




            }).HtmlAttributes(new { style = "" })
            .Scrollable()
            .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                )
            .Sortable()
            .Filterable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(5)
                .Read(read => read.Action("GetGridData", "Ticket"))
            )

          //.DataSource(dataSource => dataSource
          //.Ajax()
          //.Read(read => read.Action("GetGridData", "Ticket"))
          //)
          )
    </div>

</div>

<script>
    //$(document).ready(function () {
    //    $('#EmpGrid').data('kendoGrid').dataSource.read();
    //    $('#EmpGrid').data('kendoGrid').refresh();

    //});
</script>