
@{
    ViewBag.Title = "Index";
}
<br>
<br />
<br>
<br />
<h1 style="font-size: 44px; margin-top: 35px; margin-bottom: -15px; margin-left: 233px; font-family: 'Segoe UI Symbol'; font-weight: bold ">TMS DashBoard is under construction</h1>
<img class="center-block"  src="~/Content/images/60028-Converted.png" / >
