@using Kendo.Mvc.UI
@using TMS.Model
@{ Layout = "~/Views/Shared/_Layout.cshtml";

    @Scripts.Render("~/bundles/kendo") }
<div class="container-fluid">
   

    <div class="users-container @if (!TMS.Model.AccessPermission.Add) { <text>no-create-button</text> }" style="margin-top:80px ;margin-bottom:20px">
        <h2 style="font-weight: bold; @if (!TMS.Model.AccessPermission.Add) { <text>margin-top: 0 ; margin-bottom:20px;</text> }">Users</h2>
        @if (TMS.Model.AccessPermission.Add)
        {
            @Html.ActionLink("Create New", "Register", "Account", null, new { @class = "btn btn-primary primaryCreateNew" })
        }
    </div>
    <div class="">
        <div class="row  ; white_box">

            @(Html.Kendo().Grid<TMS.Model.UsersModel>()
             .Name("Users")
            .Scrollable(s => s.Height("auto"))
            //.AutoBind()

            .Columns(columns =>
            {
                columns.Bound(p => p.Name).Title("Name").Width(150);
                columns.Bound(p => p.UserName).Title("User Name").Width(150);
                columns.Bound(p => p.EmailId).Title("Email").Width(190);
                columns.Bound(p => p.Role).Title("Role").Width(150);

                columns.Bound(p => p.IsActive)
                       .Title("Active" )
                       .Width(120)
                       .ClientTemplate(
    "# if (IsActive) { #" +
        "<div class=\"img-circle\" style=\"display: flex; justify-content: center; align-items: center;\"><img src=\"/Content/images/check.png\" alt=\"editok\" width=\"18\"></div>" +
    "# } else { #" +
        "<div class=\"\" style=\"display: flex; justify-content: center; align-items: center;\"><img src=\"/Content/images/uncheck.png\" alt=\"edit\" width=\"18\"></div>" +
    "# } #"
);

                columns.Bound(p => p.CreatedOn).Title("Created On").Format("{0:dd/MM/yyyy}").Width(100);


           


                columns.Bound(p => p.Id).ClientTemplate(

                    "#if ('" + TMS.Model.AccessPermission.Edit + "'=='True') {#"
                    + " <a href='" + Url.Action("Edit", "Users") + "/#=Id#'>  Edit  </a>"
                    + "#}#"
                    + "#if ('" + TMS.Model.AccessPermission.Delete + "'=='True') {#"
                    + " | <a href='" + Url.Action("Delete", "Users") + "/#=Id#' onclick='return confirm(\"Are you sure you want to delete this item?\")'>  Delete </a>"

                    + "#}#"
                    ).Width(200).Title("Action").Filterable(false);

            })
    .HtmlAttributes(new { style = "" })
    .Scrollable()
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        )
    .Sortable()
 
     .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
                .Read(read => read.Action("GetGridData", "Users"))))

        </div>

    </div>
</div>
