@using Kendo.Mvc.UI
@{ Layout = "~/Views/Shared/_Layout.cshtml";

    @Scripts.Render("~/bundles/kendo") }

<h2 style="margin-top: 65px; margin-bottom: -15px; MARGIN-LEFT: 3px;  font-weight: bold " ">Users</h2>

@Html.ActionLink("Create New", "Register", "Account", null, new { @class = "btn btn-primary primaryCreateNew" })
<div class="container">
    <div class="row">

        @(Html.Kendo().Grid<TMS.Model.UsersModel>()
             .Name("Users")
            .Scrollable(s => s.Height("auto"))
            //.AutoBind()

            .Columns(columns =>
            {
                columns.Bound(p => p.Name).Title("Name").Width(150);
                columns.Bound(p => p.UserName).Title("User Name").Width(150);
                columns.Bound(p => p.EmailId).Title("Email").Width(190);
                columns.Bound(p => p.Role).Title("Role").Width(150);


                columns.Bound(p => p.IsActive).Title("Is Active").Width(120);
                columns.Bound(p => p.CreatedOn).Title("Created On").Format("{0:dd/MM/yyyy}").Width(100);


                columns.Bound(p => p.Id).ClientTemplate(
                               "<a href='" + Url.Action("Delete", "Users") + "/#=Id#' onclick='return confirm(\"Are you sure you want to delete this item?\")'>  Delete </a>").Width(150).Title("Action");



            })
    .HtmlAttributes(new { style = "" })
    .Scrollable()
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        )
    .Sortable()
    .Filterable()
     .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
                .Read(read => read.Action("GetGridData", "Users"))))
        
    </div>

</div>

